<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>website using html and css</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="wrapper">
                <div class="logo">
                    <img src="images/logo.jpg" alt="">
                </div>
                <ul class="nav-area">
                    <li><button onclick="redirect()">home</button></li>
                    <a class="logout" href="/logout" role="button">Log Out</a>
                </ul>
            </div>
            <div class="welcome-text">
                <img src="images/graph-icon.jpg" alt="">
                <h1>No Expense Data</h1>
                <h2>Please enter an expense</h2>
                <a href="/enter_expense"><button id="expense-btn" class="expense-btn" >enter expense</button></a>

            </div>
            <script type="text/javascript">
                function redirect()
                {
                    location.href="enter_expense.html";
                }
            </script>
        </header>
    </body>
</html>
